@charset "utf-8";
body {
  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: #000;
}

.container {
  width: 70%;
  max-width: 1024px;
  min-widt: 5px;
  background-color: #FFF;
  margin: 0 auto;
}



