@charset "utf-8";
body {
  font: 100%/1.4 Helvetica, Arial, Verdana, sans-serif;
  background-image: url('qoc_bg.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #000;
  height: 100%;
}

.container {
  width: 70%;
  max-width: 1024px;
  max-height: 768px;
  min-width: 5px;
  min-height: 5px;
  /*background-color: #FFF;*/
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-align: center;
}

p {
  display: inline;
  list-style-type: none;
}

.scrimProfileA {
  text-align: center;
  background-color: lightseagreen;
  width: 48.5%;
  float: left;
  display: inline;
  height: 450px;
  border-radius: 25px;
  padding: 10px 0;
  margin-left: 5px;
  margin-right: 5px;
  border-color: aqua;
  border-width: 2px;
  border-style: solid;
}

.scrimProfileI {
  text-align: center;
  background-color: lightgreen;
  width: 48.5%;
  float: left;
  display: inline;
  height: 450px;
  border-radius: 25px;
  padding: 10px 0;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: lightgreen;
}

img {
  /*width: 70%;*/
  /*height: auto;*/
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}
.imgFrame {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  display:inline-block;
  position: relative;
}
span.imgHelper {
  display: inline-block;
  height 100%;
  vertical-align: middle;
  background-color: black;
}

button.buttonLockIn {
  background-color: limegreen;
  border-radius: 25px;
  font: 100%/1.4 Helvetica, Arial, Verdana, sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: lightcoral;
  
}
.buttonWrapper {
  text-align: center;
}